@{
    ViewBag.Title = "Pol + Agora";
}
<h2>@ViewBag.Title.</h2>

<h3>Politics</h3>
<p>(from Greek: πολιτικός politikos, definition "of, for, or relating to citizens") is the practice and theory of influencing other people.</p>
<h3>Agora</h3>
<p>(from Greek: Ἀγορά Agorá) a central spot in ancient Greek city-states. The literal meaning of the word is "gathering place" or "assembly". The agora was the center of athletic, artistic, spiritual and political life of the city.The Ancient Agora of Athens was the best-known example.</p>
<p>-- Wikipedia</p>
